{% extends "layout.html" %}
{% from "_form_macros.html" import render_field %}

{% block content %}
 
<div class="add-birth">
 
<div class="page-header">
 
<h2>Add a New Birth Record</h2>
 
  </div>
 
 
 
<form action="{{ url_for('births.add_birth') }}" method="post">
    {{ form.csrf_token }}
    <dl>
    <div class="form-row">
        <div class="form-group col-md-4">
            {{ render_field(form.child_name, placeholder="Name of Child") }}
        </div>
        <div class="form-group col-md-4">
            {{ render_field(form.father_name, placeholder="Name of Father") }}
        </div>
        <div class="form-group col-md-4">
            {{ render_field(form.mother_name, placeholder="Name of Mother") }}
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4">
            {{ render_field(form.birth_year, placeholder="Year of Birth") }}
        </div>
        <div class="form-group col-md-4">
            {{ render_field(form.gender, placeholder="Gender") }}
        </div>        
    </div>
    <div class="form-row">
        <div class="form-group col-md-4">
            {{ render_field(form.birth_county, placeholder="County of Birth") }}
        </div>        
    </div>    
</dl>
    
    <button class="btn btn-sm btn-success" type="submit">Add Birth Record</button>
  </form>
 
</div>
 
 
{% endblock %}