{% extends "layout.html" %}
{% block content %}

    <div class="page-header">
      <h2>Births</h2>
    </div>
    <div class="row">
      <div class="col-md-4">
        <table class="table table-striped" id="owned_stock_table">
          <thead>
      <tr>
        <th>Child Name</th>
        <th>Father Name</th>
        <th>Mother Name</th>
        <th>Birth Year</th>
        <th>County</th>        
      </tr>
    </thead>
    <tbody>
      {% for birth in births %}
      <tr>
        <td><a href="{{ url_for('births.birth_details', birth_id=birth.id) }}">{{ birth.child_name }}</td>
        <td>{{ birth.father_name }}</td>
        <td>{{ birth.mother_name }}</td>
        <td>{{ birth.birth_year }}</td>
        <td>{{ birth.birth_county }}</td>        
      </tr>
      {% endfor %}
    </tbody>
    </table>
   </div>
 </div>

{% endblock %}
