{% extends "layout.html" %}
{% from "_form_macros.html" import render_field %}

{% block content %}

<div class="user-profile">
  <div class="page-header">
    <h2>{{ id_card.Birth.child_name }}</h2>
  </div>
 
  <div class="row">
    <div class="col-sm-6">
    <div class="card panel-primary">
      <div class="card-header">Identification Number</div>
      <div class="card-body">{{ id_card.ID.id_number }}</div>
    </div>    

    <div class="card panel-primary">
      <div class="card-header">County</div>
      <div class="card-body">{{ id_card.Birth.birth_county }}</div>
    </div>
    

    {% if id_card.ID.image_url %}
      <img src="{{ id_card.ID.image_url }}" alt="{{ id_card.ID.image_filename }}" style="width:600px;height:450px;">
    {% endif %}
 
  </div>
</div>`
 

{% endblock %}