<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Integrated Voter Registration System">
    <meta name="author" content="James Mbithi">
    <title>Integrated Voter Registration System</title>
    <!-- styles -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  </head>
 
  <body>
    <header class="site-header">
    <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
      <div class="container">
      <a class="navbar-brand mr-4" href="/">Integrated Voter Registration System</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsToggle" aria-controls="navbarsToggle" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>


      <div class="collapse navbar-collapse" id="navbarsToggle">
        <ul class="navbar-nav mr-auto">
          {% if current_user.is_authenticated %}
          {% if current_user.username == 'Registrar' %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('births.index') }}">All Records</a>
            <li class="nav-item">
            <a class="nav-link" href="{{ url_for('births.add_birth') }}">Add Birth Record</a>            
          </li>
          </li>
          {% endif %}
          {% if current_user.username == 'IDAdmin' %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('id.index') }}">All Records</a>
          </li>
          {% endif %}
          {% if current_user.username == 'IEBCAdmin' %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('iebc.index') }}">All Records</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('iebc.unregistered_voter_list') }}">Unregistered Voters</a>
          </li>
          {% endif %}          
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('users.logout') }}">Logout</a>
          </li> 
          {% if current_user.role == "admin" %}
              <li class="nav-item">
            <a class="nav-link" href="{{ url_for('users.admin_view_users') }}">View Users (Admin)</a>
          </li>
              {% endif %}
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('users.register') }}">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('users.login') }}">Login</a>
          </li>
          {% endif %}                              
        </ul>
        <ul class="navbar-nav navbar-right">
            {% if current_user.is_authenticated %}
    <li><a href="{{ url_for('users.user_profile') }}">{{current_user.email}}</a></li>
  {% else %}
    <li><a href="#">Welcome!</a></li>
  {% endif %}
        </ul>
          </div>        
      </div>
    </nav>

    <div class="container">
      <div class="content">
        <!-- flash messages -->
        {% for error_message in get_flashed_messages(category_filter=["error"]) %}
 
    <div class="alert alert-danger alert-dismissible">{{ error_message }}</div>
 
        {% endfor %}
 
        {% for success_message in get_flashed_messages(category_filter=["success"]) %}
 
    <div class="alert alert-success alert-dismissible">{{ success_message }}</div>
 
        {% endfor %}
 
        {% for info_message in get_flashed_messages(category_filter=["info"]) %}
 
    <div class="alert alert-info alert-dismissible">{{ info_message }}</div>
 
        {% endfor %}
 
        <!-- child template -->
        {% block content %}
        {% endblock %}
 
      </div>

    <div class="footer">
    <hr>
    <p>James Mbithi - 2018</p>
  </div>
  </div>
    <script type="text/javascript" src="{{ url_for('static', filename='jquery.js') }}"></script>

    <script type="text/javascript" src="{{ url_for('static', filename='popper.js') }}"></script>

    <script type="text/javascript" src="{{ url_for('static', filename='bootstrap.js') }}"></script> 
  </body>
</html>