{% extends "layout.html" %}
{% from "_form_macros.html" import render_field %}

{% block content %}

<div class="user-profile">
  <div class="page-header">
    <h2>{{ voters.Birth.child_name }}</h2>
  </div>
 
  <div class="row">
    <div class="col-sm-6">
    <div class="card panel-info">
        <div class="card-header">Account Actions</div>
        <div class="card-body"><a href="{{ url_for('births.mark_as_deceased', birth_id=voters.Birth.id) }}">Mark as Deceased</a></div>               
      </div>
    <div class="card panel-primary">
      <div class="card-header">Identification Number</div>
      <div class="card-body">{{ voters.ID.id_number }}</div>
    </div>
 
    <div class="card panel-primary">
      <div class="card-header">Date of Birth</div>
      <div class="card-body">{{ voters.Birth.birth_date }}</div>
    </div>

    <div class="card panel-primary">
      <div class="card-header">County</div>
      <div class="card-body">{{ voters.Birth.birth_county }}</div>
    </div>

    <div class="card panel-primary">
      <div class="card-header">Constituency</div>
      <div class="card-body">{{ voters.Birth.birth_constituency }}</div>
    </div>

    <div class="card panel-primary">
      <div class="card-header">Ward</div>
      <div class="card-body">{{ voters.Birth.birth_ward }}</div>
    </div>

    {% if voters.ID.image_url %}
      <img src="{{ voters.ID.image_url }}" alt="{{ voters.ID.image_filename }}" style="width:600px;height:450px;">
    {% endif %}
 
  </div>
</div>`
 

{% endblock %}