{% extends "layout.html" %}
{% block content %}

    <div class="page-header">
      <h2>Qualified Persons for ID Card Allocation</h2>
    </div>
    <div class="row">
      <div class="col-md-4">
        <table class="table table-striped" id="owned_stock_table">
          <thead>
      <tr>
        <th>Name</th>
        <th>Date of Birth</th>
        <th>County</th>
        <th>Constituency</th>
        <th>Ward</th>        
      </tr>
    </thead>
    <tbody>
      {% for birth in births %}
      <tr>
        <td><a href="{{ url_for('id.add_id_number', birth_id=birth.id) }}">{{ birth.child_name }}</td>
        <td>{{ birth.birth_date }}</td>
        <td>{{ birth.birth_county }}</td>
        <td>{{ birth.birth_constituency }}</td>
        <td>{{ birth.birth_ward }}</td>
        
      </tr>
      {% endfor %}
    </tbody>
    </table>
   </div>
 </div>

{% endblock %}
